<!DOCTYPE html>
<html>
<head>
    <title>My first Vue app</title>
    <script type='text/javascript' src='/index/axios.min.js'></script>
    <script type='text/javascript' src='/index/vue.min.js'></script>
    <link rel='StyleSheet' type='text/css' href='/index/main.css'/>


</head>
<body>
<div id="welcome">
    <input v-model="message" placeholder="отредактируй меня">
    <button type="button" class="welcome" @click="getWinner()">get winner</button>
    <ul>
        <li v-for="winner in winners">{{ winner }}</li>
    </ul>
</div>

<script>
    var app = new Vue({
      el: '#welcome',
      data: {
        message:'',
        winners: [],
        rootLink: window.location.href

      },
      methods:{
      getWinner(){
            console.log(this.message);
            console.log(this.rootLink);
      axios.get(this.rootLink + this.message).then((response) => {
      this.winners.push(response.data);
    });
    }
    }
    })


</script>
</body>
</html>