.welcome {
  display: block;
  width: 100%;
  border: none;
  background-color: black;
  padding: 14px 28px;
  font-size: 90px;
  cursor: pointer;
  text-align: center;
  color: white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 90px;
  height: 300px;
  border-radius: 35px;
}
.image {
  display: block;
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.placeholder{
    font-size: 420%;
    text-align: center;
    margin-top: 20%;
    height: auto;
    background-color: lightpink;
    color: white;
    }

.line {
    border: solid;
    text-align: left;
    font-size: 300%;
    height: auto;
    border-left: 0px;
    border-right: 0px;
    border-top: hidden;
    border-top-width: initial;
}