.welcome {
  display: block;
  width: 100%;
  border: none;
  background-color: black;
  padding: 14px 28px;
  font-size: 90px;
  cursor: pointer;
  text-align: center;
  color:white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size:90px
  height:300px
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}